apscheduler~=3.10.4
DateTime~=5.5
fastapi~=0.112.2
fastapi-cloud-logging~=1.1.0
google-api-core~=2.19.2
google-api-python-client~=2.143.0
google-auth~=2.34.0
google-cloud-aiplatform~=1.64.0
google-cloud-logging~=3.11.2
google-generativeai~=0.7.2
kink~=0.8.0
langchain~=0.2.16
langchain-community~=0.2.15
langchain-core~=0.2.13
langchain-experimental~=0.0.65
langchain-google-vertexai~=1.0.10
langchain-postgres~=0.0.9
langchain-text-splitters~=0.2.4
langgraph~=0.2.16
opentelemetry-api~=1.27.0
opentelemetry-distro~=0.48b0
opentelemetry-instrumentation~=0.48b0
opentelemetry-instrumentation-google-generativeai~=0.29.2
opentelemetry-instrumentation-langchain~=0.29.2
opentelemetry-instrumentation-vertexai~=0.29.2
opentelemetry-sdk~=1.27.0
opentelemetry-semantic-conventions~=0.48b0
orjson~=3.10.7
peewee~=3.17.6
peewee_extra_fields~=2.8.2
pgvector~=0.2.5
psutil~=6.0.0
psycopg2-binary~=2.9.9
pydantic~=2.8.2
python-benedict~=0.33.2
python-keycloak~=4.2.0
pytz~=2024.1
PyYAML~=6.0.2
ragas~=0.1.16
rich~=13.8.0
sentry-sdk~=2.13.0
SQLAlchemy~=2.0.33
starlette~=0.38.4
traceloop-sdk~=0.29.2
uvicorn~=0.30.6